

.test-mar{
    margin-bottom: 7rem;
}

.testimonial{    
    width: 100%;
    // height: 100vh;  
    background-image: url("../img/testimonial.jpg");
    background-size: cover; 
    background-position: center top;
    background-repeat: no-repeat;
    padding: 8rem 0;  
    position: relative;
  

       .testimonial-center{ 
           @include inner(); 
         
           height: 100%;
         

           
           .custom-carousel-change {
        
               background-color: var(--primary);
               color: var(--light);
               opacity: 0.9;
               width: 70%;        
               margin: 0 auto;
               padding: 50px 0;
               position: relative;
               top: 30%;

             
        


               .item{
           
           
             
             
         
                 

                img{
                    width: 100px;
                    margin: 0 auto;
                    border-radius: 100%;
                    border: 5px solid var(--secondary);
                    padding: 10px;
                   
                   
                }

                p{
                    padding: 10px 90px;
                    font-size: 1rem;
                    line-height: 30px;
                    margin: 25px 0;
                    text-align-last: center;
                    color: var(--light);
                 
                    
                }

                h1{
                    font-size: 1.4rem;
                    font-weight:400;
                    font-family: 'Roboto', sans-serif;
                    border-top: 1px solid var(--light);
                    width: 25%;
                    margin: 0px auto;
                    padding-top: 10px;
                    text-align: center;

                }
            }
            
           }


              

                
       }

              
}